::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}



/* Reset CSS pour annuler les styles par défaut */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Styles pour le formulaire de connexion */
.login-form {
  width: 450px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2);  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#img_main{
  margin-right: 40px;
  animation: rotate infinite 20s linear;
  filter: brightness(50%);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Accueil {
  display: block;
  height: 100vh!important;
}

.btn {
  display: flex;
  z-index: 10;
}

#btnAbsoluteAcc {
  position: absolute;
  width: 100px;
  margin-right: 40px;
}

/*-----------------------------------------------------*/

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Ajoutez ces classes pour l'animation de la fenêtre modale */
.modal-content {
  background: #fff;
  padding: 20px;
  width: 80%!important;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  height: 90vh;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.modal-content.show {
  opacity: 1;
  transform: scale(1);
}


/* Ajoutez ces classes pour les animations fadeIn et fadeOut */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#myModal {
  animation-duration: 0.5s;
}

.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}





/* Style pour le bouton de fermeture */
.close-btn {
  cursor: pointer;
  position: sticky;
  display: flex;
  justify-content: right;
  top: 10px;
  font-size: 24px;
}

.card-title {
  margin-bottom: 30px;
  color: #333;
  font-size: 24px;
  text-align: center;
}


.form-group {
  margin-bottom: 20px;
}


label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}


.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}


.form-control:focus {
  outline: none;
  border-color: #8C52FF;
  box-shadow: 0 0 5px rgba(140, 82, 255, 0.5);
}


.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #8C52FF;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out;
}


.btn-primary:hover {
  background-color: #6d3caf;
}


.btn-link {
  color: #8C52FF;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  margin: 10px;
}


.btn-link:hover {
  color: #6d3caf;
}

/* Styles pour la section de pied de page avec un fond et des éléments de design */
.footer-section {
  background-color: #eee; /* Couleur de fond violette */
  color: #000000; /* Couleur du texte blanc */
  padding: 20px;
  text-align: center;
  position: relative;
}




/* Styles pour les liens du pied de page */
.footer-section a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.footer-section a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Styles pour la section de l'équipe */
.team-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.team-member {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
 
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.team-member img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.member-info h3 {
  margin-bottom: 10px;
  color: #000000;
  font-size: 20px;
}

.member-info p {
  color: #000000;
  font-size: 16px;
}

.imageHeader svg {
  height: 600px;
  position: absolute;
  top: 6%;
  left: 10%;
}

#mainHeader img {
  margin-right: 40px;
  height: 400px;
  width: auto;
}


#mainHeader {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #1a004e;


}


.main-section {
  display: flex;
  flex-wrap: nowrap;
 
  padding: 20px;
}


/* style.css */


/* Style général pour les cartes */
.card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}


/* Effet de survol pour les cartes */
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Style pour les icônes dans les cartes */
.card i {
  font-size: 24px;
  margin-right: 10px;
  color: #007bff; /* Couleur bleue Bootstrap */
}


/* Style pour le titre des cartes */
.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333; /* Couleur principale du texte */
}


/* Style pour les paragraphes dans les cartes */
.card p {
  font-size: 16px;
  color: #555; /* Couleur secondaire du texte */
  margin-bottom: 10px;
}


/* Ajout d'effet de survol pour les paragraphes dans les cartes */
.card p:hover {
  color: #007bff; /* Changement de couleur au survol */
}


/* Style pour le lien dans les cartes */
.card a {
  color: #007bff; /* Couleur bleue Bootstrap */
  text-decoration: none;
  font-weight: bold;
}


/* Ajout d'effet de survol pour le lien dans les cartes */
.card a:hover {
  text-decoration: underline;
}


/* Ajout d'effet de survol pour l'ensemble de la carte au survol du lien




/* Styles pour la section de présentation de l'entreprise */
.company-presentation {
  background-color: #f5f5f5;
  padding: 50px 0;
}




.presentation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.presentation-text {
  flex: 1;
  margin-right: 20px;
}


.presentation-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}


.presentation-text p {
  color: #666;
  font-size: 18px;
  line-height: 1.6;
}


.presentation-image {
  flex: 1;
}


.presentation-image img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




.containerP {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


/* Styles pour la section de l'emplacement de l'entreprise */
.company-location {
  background-color: #fff;
  padding: 50px 0;
}


.containerL {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.location-details {
  flex: 1;
}


.location-details h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}


.location-details p {
  color: #666;
  font-size: 18px;
  line-height: 1.6;
  margin: 10px 0;
}


.location-map {
  flex: 1;
}


.location-map iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/********************************************************************/



.dashboard-container {
  margin: 20px;
  padding: 20px;
  background-color: #eee;
  border-radius: 8px;
}

.h1_ndf{
  text-align: center;
}

nav {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  background-color: #eee;
}

#containerMain {
  padding-top: 80px!important;
  margin-right: 5%!important;
}


.img_nav{
  max-width: 15%;
  height: auto;
  display: block;
  margin: 0 auto;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #444;
  color: white;
}

@media only screen and (max-width: 600px) {
          nav {
              flex-direction: column;
          }

          nav a {
              width: 100%;
              text-align: left;
          }
      }
