/* Reset CSS pour annuler les styles par défaut */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Styles pour le formulaire de connexion */
.login-form {
  width: 450px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2);  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#img_main{
  margin-right: 40px;
  animation: rotate infinite 20s linear;
  filter: brightness(50%);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Accueil {
  display: block;
  height: 100vh!important;
}

.btn {
  display: flex;
  z-index: 10;
}

#btnAbsoluteAcc {
  position: absolute;
  width: 100px;
  margin-right: 40px;
}